.intro-image {
  width: 100%;
  height: auto;
  margin-top: 0px;
}
.intro-image-absolute {
  position: absolute;
  width: 1100px;
  height: 1100px;
  top: 50%;
  left: -70px;
  bottom: -100px;
  right: -150px;
  transform: translateY(-50%);
  opacity: 0.12;
  max-width: none;

  padding: 0;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
